@font-face {
    font-family: general sans;
    src: url("GeneralSans-Medium.otf");
}

@font-face {
    font-family: general sans;
    src: url("GeneralSans-Regular.otf");
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: general sans;
}

html {
    --navFontSize: 1.2rem;
    --resnavFontSize: 1.1rem;
    --fontSize: 1.1rem;
    --resFontSize: 1rem;
    --smResFontSize: 0.8rem;
    --smResNavFontSize: 0.9rem;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.circle {
    z-index: 99;
    height: 12px;
    width: 12px;  
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
    mix-blend-mode: difference;
}

.view {
    font-size: 1rem;
    border: 2px solid #fff;
    padding: 1vw;
    border-radius: 50%;
    background-color: #fff;
    text-transform: uppercase;
    mix-blend-mode: normal;
    font-weight: 800;
    z-index: 999;
    transition:  all linear 0.3s;
}


.header {
    /* height: 100vh; */
    width: 100vw;
}

.header h1 {
    color: #999999;
    font-size: 6vw;
    padding: 3vw 0 3vw 3vw;
}

.head {
    background-color: #0C0C0C;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 3vw 0;
}
.img {
    height: 95%;
    width: 95%;
    margin: 0 auto;
}
img {
    height: 100%;
    width: 100%;
    border-radius: 10px;

}

#nav {
    width: 100%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5vw;
}

#nav h3 a{
    font-size: var(--navFontSize);
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
}

.manu_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    font-size: var(--navFontSize);
}

.manu_container h5 a{
    font-size: var(--navFontSize);
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

#nav h5 a::after {
    display: block;
    content: '';
    border-bottom: solid 3px #a8d4dc;
    transform: scaleX(0);
    transition: transform 350ms ease-in-out;
  }

#nav h5 a:hover::after {
    transform: scaleX(1);
}

/* For extra small device responsive */
@media (max-width: 360px) {
    
    #nav {
        padding-top: 5vw;
        padding-bottom: 15vw;
    }

    #nav h3 a {
        font-size: var(--smResNavFontSize);
    }

    .manu_container h5 a {
        font-size: var(--smResNavFontSize);
    }

    .head {
        padding: 7vw 0;
    }

    .header h1 {
        font-size: 12vw;
    }
}

/* For small device responsive */
@media (min-width: 361px) and (max-width: 577px) {
    #nav {
        padding-top: 5vw;
        padding-bottom: 15vw;
    }

    #nav h3 a {
        font-size: var(--resFontSize);
    }

    .manu_container h5 a {
        font-size: var(--resFontSize);
    }

    .head {
        padding: 7vw 0;
    }

    .header h1 {
        font-size: 12vw;
    }
}

/* For medium device responsive */
@media (min-width: 578px) and (max-width: 768px) {
    #nav {
        padding-top: 5vw;
        padding-bottom: 15vw;
    }

    #nav h3 a {
        font-size: var(--navFontSize);
    }

    .manu_container h5 a {
        font-size: var(--navFontSize);
    }

    .head {
        padding: 7vw 0;
    }

    .header h1 {
        font-size: 12vw;
    }
}

/* For large device responsive */
@media (min-width: 769px) and (max-width: 1024px) {
    #nav {
        padding-top: 5vw;
        padding-bottom: 10vw;
    }

    #nav h3 a {
        font-size: var(--navFontSize);
    }

    .manu_container h5 a {
        font-size: var(--navFontSize);
    }

    .head {
        padding: 7vw 0;
    }

    .header h1 {
        font-size: 12vw;
    }
}


/* overview section starts here */
.details {
    display: flex;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    padding: 8vw 3vw;
    line-height: 2vw;

}

.Strategy {
    width: 50%;
    font-size: var(--navFontSize);
    text-transform: uppercase;
}

.Strategy h5 {
    font-size: var(--navFontSize);
    line-height: 1.7rem;
}

.Overview {
    width: 50%;
    font-size: var(--navFontSize);
}

.Overview p {
    line-height: 1.7rem;
}

.Overview p span {
    color: #999999;
    font-weight: 800;
}

/* my role section starts here */
.Strategy .role {
    font-size: 6vw;
    color: #999999;
}


/* For extra small device responsive */
@media (max-width: 360px) {
    .details {
        display: grid;
    }

    .Strategy {
        width: 100%;
    }

    .Strategy h5 {
        font-size: var(--resFontSize);
        line-height: 1.5rem;
        padding-bottom: 10vw;
    }

    .Strategy .role {
        font-size: 10vw;
    }

    .Overview {
        width: 100%;
    }

    .Overview p span {
        font-size: var(--smResFontSize);
    }

    .Overview p {
        font-size: var(--smResFontSize);
        line-height: 1.5rem;
    }
}

/* For small device responsive */
@media (min-width: 361px) and (max-width: 577px) {
    .details {
        display: grid;
    }

    .Strategy {
        width: 100%;
    }

    .Strategy h5 {
        font-size: var(--resnavFontSize);
        line-height: 1.5rem;
        padding-bottom: 10vw;
    }

    .Strategy .role {
        font-size: 10vw;
    }

    .Overview {
        width: 100%;
    }

    .Overview p span {
        font-size: var(--resFontSize);
    }

    .Overview p {
        font-size: var(--resFontSize);
        line-height: 1.5rem;
    }
}

/* For medium device responsive */
@media (min-width: 578px) and (max-width: 768px) {
    .details {
        display: grid;
    }

    .Strategy h5 {
        font-size: var(--fontSize);
        line-height: 1.7rem;
        padding-bottom: 10vw;
    }

    .Strategy .role {
        font-size: 10vw;
    }

    .Overview {
        width: 100%;
    }

    .Overview p span {
        font-size: var(--fontSize);
    }

    .Overview p {
        font-size: var(--fontSize);
        line-height: 1.7rem;
    }
}

/* For large device responsive */
@media (min-width: 769px) and (max-width: 1024px) {
    .Strategy h5 {
        font-size: var(--navFontSize);
        line-height: 1.7rem;
        padding-bottom: 10vw;
    }

    .Strategy .role {
        font-size: 8vw;
    }

    .Overview p {
        line-height: 1.7rem;
        font-size: var(--fontSize);
    }
}

/* For extra large device reaponsive */
@media (min-width: 1025px) and (max-width: 1280) {
    .Strategy .role {
        font-size: 5vw;
    }
}


/* footer section starts here */
.footer {
    padding: 3vw;
    /* margin-top: 5vw; */
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer .year {
    font-size: var(--fontSize);
    display: flex;
    gap: 2rem;
}

.footer .link a {
    font-size: var(--fontSize);
    text-decoration: none;
    color: white;
    padding-right: 1.5rem;
    text-transform: uppercase;
}

/* For extra small device responsive */
@media (max-width: 360px) {
    .footer {
        padding-top: 15vw;
        flex-direction: column-reverse;
    }

    .footer .link::after {
        border-bottom: 2px solid #ffffff;
    }

    #subscribe p {
        font-size: var(--smResFontSize);
    }

    #subscribe a {
        font-size: var(--smResFontSize);
    }

    .footer .year {
        font-size: var(--smResFontSize);
        display: flex;
        justify-content: space-between;
        padding-top: 5vw;
    }

    .footer .link {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5vw;
        border-bottom: 1px solid #8d8285;
    }

    .footer .link a {
        font-size: var(--smResFontSize);
        padding-right: 0;
    }
}

/* For small device responsive */
@media (min-width: 361px) and (max-width: 577px) {
    .footer {
        padding-top: 15vw;
        flex-direction: column-reverse;
    }

    .footer .link::after {
        border-bottom: 2px solid #ffffff;
    }

    #subscribe p {
        font-size: var(--resFontSize);
    }

    #subscribe a {
        font-size: var(--resFontSize);
    }

    .footer .year {
        font-size: var(--resFontSize);
        display: flex;
        justify-content: space-between;
        padding-top: 5vw;
    }

    .footer .link {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5vw;
        border-bottom: 1px solid #8d8285;
    }

    .footer .link a {
        font-size: var(--resFontSize);
        padding-right: 0;
    }

}


/* For medium device */
@media (min-width: 578px) and (max-width: 768px) {
    .footer {
        padding-top: 15vw;
        flex-direction: column-reverse;
    }

    #subscribe p {
        font-size: var(--fontSize);
    }

    #subscribe a {
        font-size: var(--fontSize);
    }

    .footer .year {
        font-size: var(--fontSize);
        display: flex;
        justify-content: space-between;
        padding-top: 5vw;
    }

    .footer .link {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5vw;
        border-bottom: 1px solid #8d8285;
    }

    .footer .link p {
        font-size: var(--fontSize);
    }

    .footer .link a {
        font-size: var(--fontSize);
        padding-right: 0;
    }
}
